# Ignore Mac system files
.DS_Store

# Ignore Python virtual environment
.venv/

# Keep Node modules and package-lock.json out of Git
node_modules/
package-lock.json

# This file is only needed for local development debugging
content_data.json
